@import "utils";
@import "fonts";
@import "typography";

$colorBorder:  grey;

body {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display:inline-block;
  margin-left: 2%;
  }
.list-item{
    width: 19%;
    align-items: center;
    object-fit: contain;
  }
.gallery__list{
    margin-left: 10%;
  }
.gallery {
  #largeImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border: 3px solid $colorBorder;
  }
}
img{
    border: 3px solid $colorBorder;
}

