@import "utils";
@import "fonts";
@import "typography";

$colorBorder:  #d3d2d2;
$colorShadow: #f0efeff8;

body {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display:inline-block;
  margin-left: 1%;
  }
.list-item{
    width: 19%;
    align-items: center;
    object-fit: contain;
  }
.gallery__list{
    margin-left: 10%;
  }
.gallery {
  #largeImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 4px;
    border:2px solid $colorBorder;
    border-radius:2px;
    box-shadow: 0px 0px 0px 4px $colorShadow;
}
img{
  border:2px solid $colorBorder;
  border-radius:2px;
  box-shadow: 0px 0px 0px 4px $colorShadow;
}
}
